.message {
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}
 
.info { background-color: #2196f3; }
.error { background-color: #e53935; }
.success { background-color: #4caf50; }
  