<div class="centered-container">
  <div class="form-and-message">
    <div class="message-container" [ngClass]="{'message-visible': getMessageData().visible}">
      <app-ui-message [text]="getMessageData().message" [type]="getMessageData().type"></app-ui-message>
    </div>
    <mat-card>
      <div class="form-container">
        <form [formGroup]="userForm" >
          <ng-container *ngFor="let field of formFields">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>{{ field.label }}</mat-label>
              <input matInput [id]="field.controlName" [type]="field.type || 'text'"
                     [formControlName]="field.controlName"
                     (focus)="onFieldFocus(field.controlName)">
              <mat-error *ngIf="userForm.get(field.controlName)?.errors">
                {{ getErrorMessage(field.controlName) }}
              </mat-error>
            </mat-form-field>
          </ng-container>
          <button mat-raised-button color="primary" type="button" (click)="submitForm()">Submit</button>
          <button mat-button type="reset" (click)="resetForm()">Reset</button>
        </form>
      </div>
    </mat-card>
  </div>
</div>
