.centered-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.form-and-message {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
}

.mat-card {
    margin: auto;
    width: 100%;
}

.form-container {
    padding: 20px;
}

mat-form-field {
    margin-bottom: 15px;
    width: 100%;
}

button {
    height: 50px;
    margin-top: 30px;
    padding: 10px 0;
    width: 100%;
}

.message-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -60px;
    transition: opacity 0.5s ease-in-out;
}

.message-visible {
    opacity: 1;
    pointer-events: auto;
}
