<div class="centered-container">
  <div class="form-and-message">
    <div class="message-container">
      <app-ui-message [ngStyle]="{'visibility': getMessageData().visible ? 'visible' : 'hidden'}" [text]="getMessageData().message" [type]="getMessageData().type"></app-ui-message>
    </div>
    <mat-card>
      <div class="form-container">
        <form [formGroup]="userForm" (ngSubmit)="submitForm()">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Name</mat-label>
            <input matInput id="name" formControlName="name" (focus)="onFieldFocus('name')">
            <mat-error *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)">
              Name is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Surname</mat-label>
            <input matInput id="surname" formControlName="surname" (focus)="onFieldFocus('surname')">
            <mat-error *ngIf="userForm.get('surname')?.invalid && (userForm.get('surname')?.touched || userForm.get('surname')?.dirty)">
              Surname is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput id="email" type="email" formControlName="email" (focus)="onFieldFocus('email')">
            <mat-error *ngIf="userForm.get('email')?.errors?.['required'] && (userForm.get('email')?.touched || userForm.get('email')?.dirty)">
              Email is required.
            </mat-error>
            <mat-error *ngIf="userForm.get('email')?.errors?.['email'] && (userForm.get('email')?.touched || userForm.get('email')?.dirty)">
              Please enter a valid email address.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Working Experience</mat-label>
            <input matInput id="workingExperience" formControlName="workingExperience" (focus)="onFieldFocus('workingExperience')">
            <mat-error *ngIf="userForm.get('workingExperience')?.errors?.['required'] && (userForm.get('workingExperience')?.touched || userForm.get('workingExperience')?.dirty)">
              Working experience is required.
            </mat-error>
            <mat-error *ngIf="userForm.get('workingExperience')?.errors?.['invalidNumber'] && (userForm.get('workingExperience')?.touched || userForm.get('workingExperience')?.dirty)">
              Please enter a valid number. Only one digit after the decimal is allowed.
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-button type="reset" (click)="resetForm()">Reset</button>
        </form>
      </div>
    </mat-card>
  </div>
</div>